# requirements.txt
fastapi
uvicorn
python-multipart
pillow
google-cloud-vision
opencv-python-headless
google-cloud-firestore
google-cloud-storage
pydantic
firebase-admin
python-dotenv
anthropic
requests
